.header{
    display: flex;
    align-items: center;
  
}

.header-row {
    height: 200px;
    border-radius: 1.0em;
    margin-top: 1.0em;
    margin:1.1em ;
}

.row-one {
    flex: 1;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
}

.row-two{
    display: flex;
    background-color: turquoise;
    max-width: 35%;
    align-items:flex-start;
    height: 200px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  
}

.header-profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#photo{
 margin-left: 1.0em;
}
h5{
    margin: 0px;
    padding: 0px;
}
.header-profile-text{
    margin: 0px;
    padding: 0px;
}

.header-follower-text{
display: flex;
justify-content: space-between;
}